<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Rautasen upea elokuvalistaus</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	<div class="container">
		<nav th:replace="navi :: navi"></nav>
		<div class="sisalto">
			<h1>suoratoistopalvelut</h1>

			<table class="listaustaulukko">
				<tr th:each="suoratoistopalvelu : ${suoratoistopalvelut}">
					<td th:text="${suoratoistopalvelu.nimi}">Nimi</td>
					<td><a th:href="@{/spalvelu/{id}(id=${suoratoistopalvelu.id})}">elokuvat suoratoistopalvelussa</a></td>
					<td><a th:href="@{/editspalvelu/{id}(id=${suoratoistopalvelu.id})}"  sec:authorize="hasAuthority('ADMIN')">Muokkaa</a></td>
					<td class="poista"><a th:href="@{/deletespalvelu/{id}(id=${suoratoistopalvelu.id})}"  sec:authorize="hasAuthority('ADMIN')">Poista</a></td>
				</tr>
			</table>

		</div>
	</div>

</body>
</html>